@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom right, #f9fafb, #f3f4f6);
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}