div.card {
  width: 250px;
  height: 300px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

div.cardimg {
  width: calc(100% - 8px);
  height: 65%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin: 4px auto 0 auto;
}

div.cardtext {
  height: 35%;
  padding: 10px;
}